.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
__pycache__/
*.pyc
*.pyo
*.pyd

/data/raw/*
/data/interim/*
/data/artifacts/*
!/data/raw/.gitkeep
!/data/interim/.gitkeep
!/data/artifacts/.gitkeep

/reports/experiments/*
/reports/milestones/*
!/reports/experiments/.gitkeep
!/reports/milestones/.gitkeep

/files/*
.env
data/fixtures/pmbok/markdown/pmbokguide_eighthed_eng.md
